.title {
  text-align: center;
  font-size: 30pt;
  font-weight: bold;
  margin-bottom: 2rem;
}

.bracket {
  height: 800px;
  width: 600px;
}

.seed-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.display-bracket-text {
  background-color: white;
  border-style: solid;
  border-color: black solid;
  border-radius: 10px;
  width: 70%;
}
.display-bracket {
  margin: 10px;
  margin-top: 1rem;
}
