.create-tournament-page {
  background-color: mediumslateblue;
  padding: 1rem 8rem 1rem;
  width: 65vw;
  margin: 2rem auto;
  box-shadow: rgba(0, 0, 0, 0.05) -2px -2px 4px;
  color: black;
  font-family: monospace;
  font-weight: bold;
  border-radius: 20px;
}

header {
  text-align: center;
}

.tournament-option {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 3em;
}

.option-btns {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

button {
}

div > button.btn {
  width: 3rem;
  margin-left: 3rem;
}

#root > div > div:nth-child(5) > div > button {
  width: 9rem;
}

.start-btn {
  display: flex;
  justify-content: center;
  margin: 5rem 0rem 2rem;
}

div.start-btn > button {
  margin: auto;
  padding: auto;
  width: auto;
}
