.create-tournament-page {
  background-color: #d9d9d9;
  padding: 1rem 8rem 1rem;
  width: 65vw;
  margin: 2rem auto;
  box-shadow: rgba(0, 0, 0, 0.05) -2px -2px 4px;
  color: black;
  font-weight: bold;
  border-radius: 20px;
}

header {
  text-align: center;
}

.tournament-option {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 3em;
}

.option-btns {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

div > button.btn {
  width: 10rem;
  margin-left: 3rem;
}

#type-btns {
  width: 9rem;
}

.start-btn {
  display: flex;
  justify-content: center;
  margin: 5rem 0rem 2rem;
}

div.start-btn > button {
  margin: auto;
  padding: auto;
  width: auto;
}

.copy-link {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

#link {
  width: 80%;
}

#copy-btn {
  width: 20%;
}

div.modal-footer {
  display: flex;
  justify-content: center;
}
