.lobby-components {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 1rem;
}

.players {
  border: 1px solid black;
  width: 30%;
  height: 40rem;
}

.player {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.rhs {
  width: 50%;
}
.info-and-chat {
  display: flex;
  justify-content: space-between;
}

.tournament-info {
  border: 1px solid black;
  width: 45%;
  height: 30rem;
  margin-bottom: 2rem;
  font-size: 12pt;
  font-weight: bold;
}

.chat {
  border: 1px solid black;
  width: 45%;
  height: 30rem;
  margin-bottom: 2rem;
}

.options {
  border: 1px solid black;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#root > div > div > div > div.rhs > div.options > div > button.btn.btn-lg {
  width: 20rem;
}

.tournament-id {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#copy-btn {
  width: 3rem;
}
