.chat {
  z-index: 1;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 280px;
  height: 350px;
}

.chat-input {
  width: 100%;
  font-size: 12pt;
  border-radius: 10px;
  border: 1pt solid black;
}

.message {
  text-align: left;
  background-color: white;
}
