.message {
  text-align: left;
}
.chat {
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 250px;
  height: 350px;
}

.chat-input {
  width: 100%;
}

.chat-title {
  text-align: center;
  color: black;
}
