.winners-div,
.winner-header {
  margin: 1rem auto;
  /* box-shadow: rgba(0, 0, 0, 0.05) -2px -2px 4px; */
  border: transparent;
  font-family: arial;
  font-weight: bold;
}

.winner-title {
  border-radius: 10px;
  padding: 1rem 15rem 1rem;
}

h1.winner-title {
  display: flex;
  justify-content: center;
  background-color: white;
}

.winner-comps {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

Button.winner-btns {
  background-color: black;
  border: black;
  width: 60%;
}

.chat-comp {
  width: 20%;
  height: 37rem;
  margin: 1rem auto;
  margin-right: 4rem;
  background-color: transparent;
  border-radius: 10px;
}

.winners-div {
  border-radius: 10px;
  width: 70%;
  height: 37rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 2rem;
}

.winners-area,
.losers-area {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 30rem;
  padding-left: 5px;
}

.winners-area {
  height: 150%;
  margin-bottom: 1rem;
}
.winner-page-btns {
  padding-left: 3rem;
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.winners-podium-title {
  display: flex;
  justify-content: center;
}
