body {
  background-image: url("bg6.jpeg");
  background-repeat: repeat;
  background-size: 13%;
  background-color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
