.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.podium__item {
  width: 200px;
}
.podium__rank {
  display: flex;
  border: black;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #fff;
}
.podium__city {
  text-align: center;
  padding: 0 0.5rem;
}
.podium__number {
  width: 27px;
  height: 75px;
}
.podium .first {
  min-height: 300px;
  border-style: solid;
  border-width: 3px;
}
.podium .second {
  min-height: 200px;
  border: black;
  border-style: solid;
  border-right: none;
  border-width: 3px;
}
.podium-rank-third {
  border: black;
  border-width: 3px;
  border-style: solid;
  display: flex;
  border-left: none;
  align-items: column;
}
.podium-rank-3a {
  min-height: 100px;
  width: 50%;
  left: 50px;
}
.podium-rank-3b {
  min-height: 100px;
  width: 50%;
  left: 50px;
}

#podium-container {
  display: flex;
  align-items: flex-end;
}

.first-second {
  display: flex;
  align-items: flex-end;
}
