.landing-div {
  padding: 1rem 20rem 1rem;
}

.landing-title {
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  background-color: white;
  border: black;
  border-style: solid;
}

.menu-button-container {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
}

#landing-page-btn {
  width: 300px;
  height: 75px;
  margin-top: 3rem;
  font-size: larger;
  font-weight: bold;
  border-radius: 20px;
  background-color: black;
  border: black;
}

.colour-picker {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-title {
  font-weight: bold;
}

.name-input,
.tournament-input {
  margin-top: 1rem;
}

.modal-button {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

Button.ct-button,
Button.jt-button {
  background-color: black;
}
